.main {
    border-color: #3B6EF7;
}

.small {
    padding: 5px;
    min-width: 80px;
    font-size: 14px;
}

.medium {
    padding: 10px;
    min-width: 100px;
    font-size: 18px;
}

.large {
    padding: 15px;
    min-width: 130px;
    font-size: 22px;
}

.half {
    width: 50%;
}

.full {
    width: 100%;
}


.low-smooth.small {
    border-radius: 2px;
}
.low-smooth.medium {
    border-radius: 4px;
}
.low-smooth.large {
    border-radius: 8px;
}

.medium-smooth.small {
    border-radius: 4px
}
.medium-smooth.medium {
    border-radius: 8px
}
.medium-smooth.large {
    border-radius: 16px
}

.strong-smooth.small {
    border-radius: 8px
}
.strong-smooth.medium {
    border-radius: 16px
}
.strong-smooth.large {
    border-radius: 24px
}

