.userItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
    padding: 10px 5px;
    border-radius: 10px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.userData {
    display: flex;
    align-items: center;
}

.userItem:hover {
    background-color: rgb(207, 228, 255);
}

.userItem.selected {
    background-color: rgb(207, 228, 255);
}

.userName {
    margin-left: 15px;
}

.userNotificator {
    width: 20px;
    height: 20px;
    padding-top: 1px;
    background-color: #3B6EF7;
    color: white;
    border-radius: 50%;
    text-align: center;
}