.messageBlock {
    display: flex;
    min-width: 120px;
    max-width: 600px;
    margin-bottom: 10px;
}

.other.messageBlock {
    flex-direction: row-reverse;
}

.self.messageBlock {
    align-self: flex-end;
}

.message {
    max-width: 545px;
    padding: 10px;
    border-radius: 15px;
}

.other .message {
    margin-left: 5px;
    margin-right: 55px;
    background-color: #e7d6ff;
}
.self .message {
    margin-right: 5px;
    margin-left: 55px;
    background-color: rgb(207, 228, 255);
}

.messageText {
    font-size: 16px;
    padding: 10px 0px;
}


.messageDate {
    padding-top: 5px;
    text-align: right;
    font-size: 12px;
}


