.chat {
    width: 100%;
    padding-bottom: 0px;
}

.messagesContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    min-width: 300px;
    margin-left: auto;
    padding-right: 25%;
    overflow-y: auto;
}

.messagesContainer::-webkit-scrollbar {
    width: 10px;
}

.messagesContainer::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(216, 216, 216);
}

.messagesContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #3760d0;
}

.chatInput {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 5px;
}

.messageTextArea {
    font-size: 20px;
}

.sendBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 47px;
    height: 47px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #3B6EF7;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sendBtn:hover {
    background-color: #2d51b5;
}

.sendBtn img {
    object-fit:fill;
    width: 70%;
    height: 70%;
}

@media (max-width: 1400px) {
    .messagesContainer {
        width: 100%;
        margin-left: 0;
        padding-right: 5px;
    }
    
}